[package]
name = "lib-core"
version = "0.1.0"
edition = "2024"

[dependencies]
async-trait = { workspace = true }

[dev-dependencies]
async-lock = { workspace = true }
pretty_assertions = { workspace = true }
smol = { workspace = true }
